.grid{
    display : grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1%;
    row-gap: 5%;
  	grid-auto-rows: minmax(10%, auto);
}

.neuf {
    grid-column: 9;
    grid-row: 1;
    display: inline-block
}

.titreListeVide{
	color: red;
	grid-column: 3/8;
    grid-row: 5;
    font-size: 300%;
}

.warning{

	grid-column: 5;
    grid-row: 8;
    font-size: 300%;
}

.creationCompteTitre {
	grid-column: 2/6;
    grid-row: 2;
}

.cinq {
    grid-column: 5;
    grid-row: 1;
}

  .titre span:nth-child(1) {
    color: red;
    font-size: 150%;
  }
  .titre span:nth-child(2) {
    color: blue;
    font-size: 150%;
  }
  
  .titre span:nth-child(3) {
    color: gold;
    font-size: 150%;
  }
  
  .titre span:nth-child(4) {
    color: green;
    font-size: 150%;
  }
  .titre {
    word-spacing: -25em;
  }

.textNav {
    color: grey;
}

.titrePage {
	display: flex;
	align-items: center;
  	justify-content: center;
}


.profilTitre {
    grid-column: 5;
}

.profilColonneUne{
	grid-column: 4;
}

.profilColonneDeux{
	grid-column: 6;
}

.profilBouton {
    grid-column: 5;
}

/* Light Theme */
.light-body {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Theme */
.dark-body {
  background-color: #222222;
  color: #ffffff;
}

/* Appliquer le style Light Theme lorsque l'option "light" est sélectionnée */
#theme-select option[value="light"]:checked ~ .content {
  background-color: #ffffff;
  color: #000000;
}

/* Appliquer le style Dark Theme lorsque l'option "dark" est sélectionnée */
#theme-select option[value="dark"]:checked ~ .content {
  background-color: #222222;
  color: #ffffff;
}





  
  


  
