<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Accueil</title>

        <!-- Pour le bouton mode sombre -->
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2280%22>🌓</text></svg>">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css">
    <script nomodule>window.MSInputMethodContext && document.documentMode && document.write('<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-ie11@5/css/bootstrap-ie11.min.css"><script src="https://cdn.jsdelivr.net/npm/ie11-custom-properties@4/ie11CustomProperties.min.js"><\/script>');</script>
    <link rel="stylesheet" href="dark-mode.css">
    <link rel="stylesheet" href="style.css">
    <!-- Fin apport bouton mode sombre -->

</head>

<body class="bg-white h-100">

    <!-- Bouton mode sombre -->
    <div class="grid">
        <div class="neuf">
            <div class="container d-flex p-3 mx-auto w-100 flex-column">
                <header class="mb-auto">
                    <div class="nav-link">
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="darkSwitch">
                            <label class="custom-control-label" for="darkSwitch">🌓 Thème</label>
                            </div>
                        <script src="dark-mode-switch.min.js"></script>
                        </div>
                    </div>
                </header>
            </div> 
        </div>
        <h1 class="titre">
            <span>E</span>
            <span>ni</span>
            <span>B</span>
            <span>ay</span>
        </h1>
    </div>
    <!-- Fin bouton mode sombre -->



    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand titre" href="#">Accueil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
     
          <form class="form-inline my-2 my-lg-0 d-flex align-items-center ml-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          
    
        </div>
      </nav>
    <!-- Fin NavBar -->




    <!-- Footer -->
    <div class="grid">
        <div class="cinq">
            <footer class="mt-auto">
                <p>&copy; EniBay, 2023</p>
            </footer>
        </div>
    </div>

    </div>
    <!-- End wrapper -->
</body>

</html>
