<!doctype html>
<html lang="fr" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Accueil</title>

    <!-- Pour le bouton mode sombre -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <script nomodule>window.MSInputMethodContext && document.documentMode && document.write('<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-ie11@5/css/bootstrap-ie11.min.css"><script src="https://cdn.jsdelivr.net/npm/ie11-custom-properties@4/ie11CustomProperties.min.js"><\/script>');</script>
    <link rel="stylesheet" href="dark-mode.css">
    <link rel="stylesheet" data-th-href="@{/css/style.css}">

    <!-- Fin apport bouton mode sombre -->

</head>

<header >
    <!-- 
     Bouton mode sombre -
    <div class="grid">
        <div class="neuf">
            <div class="container d-flex p-3 mx-auto w-100 flex-column">
                <header class="mb-auto">
                    <div class="nav-link">
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="darkSwitch">
                            <label class="custom-control-label" for="darkSwitch">🌓 Thème</label>
                            </div>
                        <script src="dark-mode-switch.min.js"></script>
                        </div>
                    </div>
                </header>
            </div> 
        </div>
    </div>
    Fin bouton mode sombre 
    -->

    <!-- Titre -->
    <div class="grid">
        <h1 class="titre">
            <span>E</span>
            <span>ni</span>
            <span>B</span>
            <span>ay</span>
        </h1>
    <!-- Fin titre -->

    <!-- Connexion -->
 
        <span class="neuf">
            <a href="inscription">S'inscrire</a>
            <a href="connexion">Se Connecter</a>
            <!-- ici, mettre la co et déco de façon dynamique -->
        </span>
    </div>

    <!-- Fin connexion -->

    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg bg-body-primary-emphasis ">
        <div class="container-fluid">
          <a class="navbar-brand textNav" th:href="@{Accueil}">Accueil</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link textNav" aria-current="page" href="#">Exemple lien 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link textNav" href="#">Exemple lien 2</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle textNav" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profil
                </a>
                <ul class="dropdown-menu bg-body-secondary-emphasis">
                  <li><a class="dropdown-item textNav" href="#">S'enregistrer</a></li>
                  <li><a class="dropdown-item textNav" href="#">Se connecter</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item textNav" href="#">Mon Profil</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link textNav disabled">Exemple de lien désactivé</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="..." aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Rechercher</button>
            </form>
          </div>
        </div>
      </nav>
    <!-- Fin NavBar -->
</header>

<body class="bg-white h-100">


</body>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</html>
