<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Création de compte</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" data-th-href="@{/css/style.css}">
    <link rel="stylesheet" data-th-href="@{/css/sign-in.css}">
</head>
<br><br>
<div data-th-replace="~{fragments/fragment-entete :: fragment-entete}"></div>

<body >
   
<main class="form-signin w-100 m-auto">
  <form>
    <h2 class="h3 mb-3 fw-normal">Création de compte :</h2><hr>
    <div class="form-row">
    	<div class="form-group col">
    		<label for="firstName">Prénom</label>
      		<input type="text" class="form-control" id="firstName" placeholder="Prénom" required>
    	</div>
    	
    	<div class="form-group col">
    		<label for="name">Nom</label>
      		<input type="text" class="form-control" id="name" placeholder="Nom" required>
    	</div>
    	
    	<div class="form-group col">
    		<label for="pseudo">Pseudo</label>
      		<input type="text" class="form-control" id="pseudo" placeholder="Pseudo" required>
    	</div>
    	
    	<div class="form-group col">
      		<label for="inputEmail4">Email</label>
      		<input type="email" class="form-control" id="inputEmail4" placeholder="Email" required>
    	</div>
    	
    	<div class="form-group col">
      		<label for="inputPassword4">Mot de passe </label>
      		<input type="password" class="form-control" id="inputPassword4" placeholder="Mot de passe" required>
    	</div>
    	
    	<div class="form-group col">
    		<label for="inputAddress">Adresse</label>
    		<input type="text" class="form-control" id="inputAddress" placeholder="1 rue de la soif" required>
  		</div>
  		
  		<div class="form-group col">
      		<label for="inputCity">Ville</label>
      		<input type="text" class="form-control" id="inputCity" placeholder="Pétaouchnok" required>
    	</div>
    	
    	<div class="form-group col">
      		<label for="inputZip">Code postal</label>
      		<input type="text" class="form-control" id="inputZip" placeholder="01000" required>
    	</div>
    	
    	<div class="form-check">
      		<input class="form-check-input" type="checkbox" id="gridCheck" required>
      		<label class="form-check-label" for="gridCheck">
        	Accepter les CGUs
      		</label>
    	</div>
    	
    	<a class="nav-link textNav" aria-current="page" data-th-href="@{creer}">
  			<button class="btn btn-primary w-100 py-2" type="submit" >Créer un compte</button>
  		</a>	
  	</div><hr>
  </form>
</main>


</body>

	<div data-th-replace="~{fragments/fragment-footer :: fragment-footer}"></div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</html>
