<!doctype html>
<html lang="fr" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modification de profil</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" data-th-href="@{/css/style.css}">

</head>

<br><br>

<div data-th-replace="~{fragments/fragment-entete :: fragment-entete}"></div>

<body class="bg-white h-100">

	<div class="container">
		<div class="row justify-content-center align-items-center vh-50">
			<div class="py-5 text-center">
	   			<h2>Modification de profil </h2>
	   		</div>
	   		<div class="col-md-5 col-lg-7">
				<form th:object="${utilisateur}" method="post" th:action="@{/enregistrer-modifs}">

		    		<div class="row g-3 justify-content-md-center"><hr>
			    		<div class="col-md-3 ">
			    			<label for="pseudo" class="input-group-text">Pseudo :</label>
		        			<input id="pseudo" class="form-control"  type="hidden" th:field="*{no_utilisateur}"/>
				    	</div> 
			        	<div class="col-md-6">
			            	<input type="text" th:field="*{pseudo}" class="form-control"/>
			            	<span th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}"></span>
			        	</div>
			     	</div><br>
			     
			     	<div class="row g-3 justify-content-md-center">
			        	<div class="col-md-3 ">
			            	<label for="nom" class="input-group-text">Nom :</label>
			        	</div>
			        	<div class="col-md-6">
			            	<input id="nom" type="text" th:field="*{nom}" class="form-control">
			            	<span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
			        	</div>
			     	</div><br>
		        
		        
		        	<div class="row g-3 justify-content-md-center">
			        	<div class="col-md-3 ">
			            	<label for="prenom" class="input-group-text">Prénom :</label>
			        	</div>
			        	<div class="col-md-6">
			            	<input id="prenom" type="text" th:field="*{prenom}" class="form-control">
			            	<span th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></span>
			        	</div>
			     	</div><br>
		        
				 	<div class="row g-3 justify-content-md-center">	        
			        	<div class="col-md-3 ">
			            	<label for="email" class="input-group-text">Email :</label>
			        	</div>
			        	<div class="col-md-6">
			            	<input id="email" class="form-control" type="text" th:field="*{email}">
			            	<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
			        	</div>
			     	</div><br>
			        
					<div class="row g-3 justify-content-md-center">	        
				        <div class="col-md-3 ">
				            <label for="telephone" class="input-group-text">Téléphone :</label>
				        </div>
				        <div class="col-md-6">
				            <input id="telephone" class="form-control" type="tel" th:field="*{telephone}">
				            <span th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"></span>
				        </div>
				    </div><br>
			        
			        
					<div class="row g-3 justify-content-md-center">		        
				        <div class="col-md-3 ">
				            <label for="adresse" class="input-group-text">Adresse :</label>
				        </div>
				        <div class="col-md-6">
				            <input id="adresse" class="form-control"  type="text" th:field="*{rue}">
				            <span th:if="${#fields.hasErrors('rue')}" th:errors="*{rue}"></span>
				        </div>
				    </div><br>
			         
					<div class="row g-3 justify-content-md-center">		        
			        	<div class="col-md-3 ">
				            <label for="ville" class="input-group-text">Ville :</label>
				        </div>
				        <div class="col-md-6">
				            <input id="ville" class="form-control" type="text" th:field="*{ville}">
				            <span th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}"></span>
				        </div>
				    </div><br>
			        
					<div class="row g-3 justify-content-md-center">		  
						<div class="col-md-3 ">
							<label for="zip" class="input-group-text">Code Postal :</label>
						</div>
						<div class="col-md-6">
							<input id="zip" class="form-control" type="text" th:field="*{code_postal}">
							<span th:if="${#fields.hasErrors('code_postal')}" th:errors="*{code_postal}"></span>
						</div>
					</div><br>
			     
					<div class="row g-3 justify-content-md-center">
					    <div class="col-md-3 ">
					 		<label for="password" class="input-group-text">Mot de passe :</label>
						</div>
					 	<div class="col-md-6">
					    	<input id="password" class="form-control" type="password" th:field="*{mot_de_passe}">
					    	<span th:if="${#fields.hasErrors('mot_de_passe')}" th:errors="*{mot_de_passe}"></span>
					 	</div>
					<div class="row g-3 justify-content-md-center">
						<div class="col-md-3 ">
							<label for="credit" class="input-group-text">credit :</label>
						</div>
						<div class="col-md-6">
							<input id="credit" class="form-control" type="text" th:field="*{credit}">
							<span th:if="${#fields.hasErrors('credit')}" th:errors="*{credit}"></span>
						</div>
					</div><br>
		     
		       		<div class="col-12 mt-3">
		       			<div class="row">
			       			<div class="col-md-6">
			       				<a class="nav-link textNav" aria-current="page">
		            				<button type="submit" class="btn btn-outline-primary w-100 py-2">Enregistrer</button>
		            			</a>
		            		</div>
		            		<div class="col-md-6">
		            			<a class="nav-link textNav profilBouton" aria-current="page" data-th-href="@{supprimer-profil}">
		    						<button type="submit" class="btn btn-outline-danger w-100 py-2">Supprimer mon compte</button>
		    					</a>
		    				</div>
	    				</div>
	           		</div><br><hr>
				</form>
			</div>
		</div>
	</div>
</body>
	<div data-th-replace="~{fragments/fragment-footer :: fragment-footer}"></div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</html>
